body {
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #fff;
	letter-spacing: 0.025em;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0;
}

.container {
	padding: 0 15px;
	box-sizing: border-box;
}

/* ###### HEADER BLOCK ###### */

header {
	background: 
	url("../img/header/small-smoke.png") no-repeat top/cover,
	url("../img/header/smoke.jpg") no-repeat 78% 100%,
	url("../img/header/stars.png") repeat-x top;
	background-color: #000;
	padding-bottom: 22px;
}

.header-container {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
}

.header-top {
	height: 58px;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: top 1s;
}

.header-top--active {
	height: 174px;
	flex-direction: column;
	padding-bottom: 10px;
	box-shadow: 2px 14px 45px 5px rgba(0,0,0,0.73)
}

.header-top--active .logo{
	height: 89px !important;
}

.header-top__info {
	width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .header-top__info--active {
	flex-direction: column;
    display: flex;
    height: 100%;
}

.header-top--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 0px 0px 20px 20px;
}

.header-top--fixed .menu-toggle {
	position: fixed;
}

.spacer {
	height: 0;
}

/******* MENU TOGGLE *******/

.menu-toggle {
	display: none;
	position: absolute;
	top: 20px;
	right: 25px;
	z-index: 1;
	width: 30px;
	padding: 10px 0;
	font-size: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.menu-toggle:focus {
	outline: none;
}

.menu-toggle__item {
	width: 100%;
	height: 3px;
	background-color: #fff;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transition: background 0.3s linear;
}

.menu-toggle__item::before,
.menu-toggle__item::after {
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	background-color: #fff;
	left: 0;
	z-index: 1;
	transition: transform 0.3s linear;
}

.menu-toggle__item::before {
	top: -8px;
}

.menu-toggle__item::after {
	bottom: -8px;
}

/******* MENU TOGGLE / CONDITION: ACTIVE *******/

.menu-toggle.active 
.menu-toggle__item {
	background: none;
}

.menu-toggle.active 
.menu-toggle__item::before {
	top: 0;
	transform: rotate(45deg);
}

.menu-toggle.active 
.menu-toggle__item::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.header-top .site-name {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
    min-width: 150px;
    background: url(../img/header/sprites.png) no-repeat left center;

	background-position: 3px -39px;

    height: 100%;
    display: flex;
    align-items: center;
}

.header-top .location {
	font-size: 16px;

}

.header-top .tell-back {
	display: block;
	padding: 4px 0;
	width: 160px;
	border: 1px solid #0b86d4;
	border-radius: 25px;
	text-align: center;
	font-size: 16px;
	transition: 0.3s;
}

.header-top .tell-back:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.header-top .number {
	font-size: 16px;
	border: 2px solid transparent;
}

.header-top .number:hover {
	border-bottom: 2px solid #0b86d4;

}

.header-content h1 {
	font-size: 50px;
	line-height: 72px;
	width: 563px;
	margin: 0;
	margin-top: 87px;
	font-weight: 400;
	position: relative;
}

.header-content h1::after {
	content: "";
	width: 195px;
	height: 3px;
	background-color: #0b86d4;
	display: block;
	margin-top: 32px;
	margin-left: 3px;
}

.header-content .promo {
	font-family: "Bad Script", sans-serif;
	font-size: 30px;
	color: #d8d4d4;
	margin: 0;
	margin-top: 45px;
}

.video-review {
	width: 195px;
	height: 90px;
	position: relative;
	margin-bottom: 140px;
}

.video-text {
	padding-top: 12px;
	font-size: 14px;
	margin: 0;
	color: #cfcbcb;
}

.video-text::before {
	content: "";
	width: 51px;
	height: 46px;
	display: block;
	margin-left: 70px;
	background: url("../img/header/sprites.png") -213px -15px;
}

.play-video-button {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 25px;
	background: url("../img/header/sprites.png") -294px -15px;
	transition: 0.3s;
	position: absolute;
	top: -10px;
	right: 3px;
}

.play-video-button:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.header-content__inner {
	position: absolute;
	right: 35%;
	top: 8%;
	display: flex;
	align-items: flex-end;
}

.header-bottom {
	width: 190px;
	margin-top: 135px;
	margin-left: 57px;
}

.header-bottom  li {
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #0b83cf;
	border-radius: 50%;
	transition: 0.3s;
	background-color: #080a0c;
}

.social-links {
	margin: 0;
	padding: 0;
}

.social-links a {
	display: block;
	width: 34px;
	height: 34px;
}

.social-links li:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.header-bottom .vk {
    background-image: url("../img/header/sprites.png");
    background-position: -96px -3px;
}

.header-bottom .yt {
	background-image: url("../img/header/sprites.png");
	background-position: -47px -7px;
}

.header-bottom .fb {
	background-image: url("../img/header/sprites.png");
	background-position: -3px -7px;
}


/* ###### ABOUT-GUITAR SECTION###### */

section.about-guitar {
	color: #2b2a2a;
	background: url('../img/about-guitar/about-bg.jpg') no-repeat;
	background-size: cover;
}


.about-guitar .container {
	max-width: 1200px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 65px 15px 51px 15px;
	box-sizing: border-box;
}

.about-guitar .content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

.about-guitar .about-title {
	font-weight: bold;
}

.about-guitar .about-title h2 {
	font-size: 36px;
	margin: 0;
	margin-left: 3px;
}

.about-guitar .price {
	font-size: 30px;
	margin: 0;
	margin-top: 20px;
}

.about-guitar .price::before {
	display: inline-block;
	content: "";
	width: 111px;
	height: 2px;
	background-color: #47a3dd;
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 20px;
}

.about-guitar ol.features-list {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 58px;
	width: 410px;
	list-style-type: none; 
    counter-reset: num;
}

.about-guitar .features-list  li {
	margin: 0;
	padding-bottom: 6px;
}

.about-guitar li.feature-item::before {
    content: "0" counter(num); 
    counter-increment: num;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.about-guitar .features-list h3 {
	margin: 0;
	margin-left: 3px;
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
}

.features-list li:first-child h3:first-child {
	margin-left: 10px;
}

.about-guitar .features-list p {
	margin: 10px 0 0 55px;
	font-size: 20px;
	line-height: 23px;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
}

.about-guitar .features-list p::after {
	content: "";
	display: block;
	width: 339px;
	height: 1px;
	background-color: #979797;
	margin-top: 17px;
	margin-left: -46px;
}

.about-guitar .buy-button {
	display: block;
	margin-top: 20px;
	padding: 15px 0;
	width: 250px;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff5f7;
	background-color: #ff3d6f;
	text-align: center;
	border-radius: 30px;
	transition: 0.3s;
}

.about-guitar .buy-button:hover {
	background-color: #fe698f;
}

.about-guitar .guitar {
	width: 240px;
	height: 660px;
	background: url("../img/about-guitar/pink-effect.png") no-repeat;
	background-position: center 70%;
	background-size: contain;
	margin-top: -55px;
}

.about-guitar ul.guitar-specifications {
	max-width: 240px;
	width: 100%;
	padding: 0;
	margin: 0;
}

ul.guitar-specifications li {
	list-style-type: none;
	margin: 0;
	max-width: 240px;
	width: 100%;
	text-align: center;
}

ul.guitar-specifications .circle {
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 98px;
	height: 98px;
	border: 1px solid #1b8ed7;
	border-radius: 50%;
	text-align: center;
	padding-top: 25px;
	font-size: 36px;
	font-weight: bold;
}

ul.guitar-specifications p {
	margin: 0 auto;
	margin-top: 8px;
	font-size: 24px;
	font-family: 'Jura', sans-serif;
	font-weight: 500;
	text-align: center;
	max-width: 200px;

}

ul.guitar-specifications p::after {
	display: block;
	margin: 21px auto 39px auto;
	content: "";
	width: 60px;
	height: 1px;
	background-color: #9d9c9c;

}


/* ###### GUARANTEES SECTION ###### */

section.guarantees {
	padding: 155px 0 155px 0;
	background: linear-gradient(to bottom, #fbfbfb, #fff);
}

.guarantees .container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.guarantees .left-side {
	max-width: 665px;
	width: 100%;
	background-image: url("../img/guarantees/blue-smoke.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -80px 80%;

}

.guarantees .right-side {
	max-width: 495px;
	width: 100%;
	position: relative;
}

.guarantees .right-side::before {
	content: "";
	display: inline-block;
	height: 399px;
	width: 1px;
	background-color: #939191;
	position: absolute;
	bottom: 15px;
}

.left-side .title {
	color: #000;
	font-size: 36px;
	font-weight: bold; 
	margin: 0 0 0 8px;
	line-height: 72px;
}


.left-side .title::after {
	content: "";
	display: block;
	width: 111px;
	height: 2px;
	background-color: #47a3dd;
}

span.blue {
	color: #0b86d4;
}

.guarantees ul.features {
	margin: 116px 0 0 0;
	padding: 0;
	padding-right: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

ul.features li {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	margin-right: 20px;
	margin-bottom: 98px;
	padding-left: 109px;
	width: 275px;
	height: 100px;
	background: url("../img/guarantees/css_sprites.png") no-repeat;
	background-color: #000;
	border-radius: 10px;
	font-size: 20px;
	line-height: 31px;
	font-weight: bold;
}

ul.features li:nth-child(even) {
	margin-right: 0;
}

ul.features .delivery {
	background-position: -20px -280px;
}

ul.features .document {
	background-position: -10px -417px;
}
ul.features .pay {
	background-position: -15px -10px;
}
ul.features .service {
	background-position: -20px -144px;
}

.right-side .feedback-list {
	height: 100%;
	text-align: center;
	background: url("../img/guarantees/disc.png") no-repeat;
	background-position: center 15%;
	padding-top: 45%;
	box-sizing: border-box;
}

.all-feedback-list {
	text-align: left;
	bottom: 0;
	width: 300px;
	height: 120px;
	margin-top: 60px;
}

.all-feedback-list p {
	margin: 0;
	margin-left: 25px;
	color: #000000;
	font-size: 20px;
	font-family: "Bad Script Regular";
}

.all-feedback-list p::before {
	content: "";
	display: block;
	background: url("../img/guarantees/css_sprites.png") no-repeat;
	background-position: -46px -632px;
	width: 48px;
	height: 47px;
	margin-left: 187px;
	margin-bottom: -25px;
}

.all-feedback-list a {
	display: block;
	width: 42px;
	height: 42px;
	border: 1px solid #f1ab61;
	border-radius: 50%;
	background: url("../img/guarantees/css_sprites.png");
	background-position: -37px -540px;
	margin-right: 0;
	margin-left: auto;
	transition: 0.3s;
}

.all-feedback-list a:hover {
	background-color: #f4dbc0;
	border: 1px solid #a3917d;
}

/* ###### OREDER SECTION ###### */

section.order {
	background: url("../img/order/smoke.png") 100%/cover no-repeat;
	background-color: #181818;     
	position: relative;      
}

section.order .container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.order .title {
	display: inline-block;
	margin: 0;
	max-width: 593px;
	width: 100%;
	padding-top: 103px;
	font-size: 36px;
	font-weight: bold;
	line-height: 63px;
}

.order .title::after {
	content: "";
	display: block;
	margin-top: 32px;
	width: 190px;
	height: 2px;
	background-color: #47a3dd;
}

.order img {
	position: absolute;
	top: 50px;
	right: 0px;
}

.order form {
	display: flex;
	margin-top: 125px;
	align-items: flex-start;
	flex-wrap: wrap;
}

.order input,
.order button {
	width: 296px;
	height: 56px;
	padding: 24px;
	margin: 0;
	border: 1px solid #0b86d4;
	border-radius: 25px;
	background-color: #252525;
	color: #cbcbcb;
	font-size: 20px;
	font-family: "Jura Light", sans-serif;
	box-sizing: border-box;
	margin-bottom: 20px;
	outline: none;
}

.order .phone-block,
.order .email-block {
	margin-right: 35px;
}

.order button {
	align-self: flex-end;
	padding: 0px 82px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	font-family: "Jura Medium", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.3s;
}

.order button:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.order label {
	display: block;
	font-size: 20px;
	padding-left: 26px;
	margin-bottom: 19px;
	position: relative;
}

.order label::after {
	display: block;
	content: "";
	width: 114px;
	height: 108px;
	background: url("../img/order/star.png");
	position: absolute;
	left: -60px;
	top: -40px;
}

/* ###### FOOTER ###### */

footer {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	margin-top: 70px;
	padding-bottom: 30px;
}

footer::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	box-shadow: 0px 0px 16px 1px #00d8ff;
}

footer .footer-content {
	margin-top: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}



footer a.logo {
	padding-left: 44px;
	height: 30px;
	background: url("../img/header/sprites.png") no-repeat left center;
	background-position: 0px -55px;
	box-sizing: border-box;
}

footer .site-name {
	margin: 0;
	font-size: 20px;
}

footer .location {
	font-size: 16px;
	margin: 0;

}

footer .number {
	font-size: 16px;
}

footer .number:hover {
	border-bottom: 2px solid #0b86d4;
	border-top: 2px solid transparent;
}



@media (max-width: 1120px) {
	.guarantees ul.features {
		justify-content: center;
		margin-top: 20px;
	}

	ul.features li,
	ul.features li:nth-child(even) {
		margin-bottom: 30px;
		margin-right: 15px;
		margin-left: 15px;
	}
	
	.order img {
		width: 40%;
		top: 125px;
	}
}

@media (max-width: 940px) {
	.header-content__inner {
		right: 70px;
	}

	.about-guitar .content {
		flex-wrap: wrap;
	}

	.about-guitar ul.guitar-specifications {
		display: flex;
		max-width: 100%;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	
	ul.guitar-specifications p::after {
		display: none;
	}

	ul.guitar-specifications li {
		margin-right: 10px;
	}

	.left-side .title {
		line-height: 1.4;
	}

	.order img {
		display: none;
	}
}


@media (max-width: 700px) {
	.header-content__inner {
		right: 10px;
	}

	.header-top__info {
		display: none;
	}

	.menu-toggle {
		display: block;
		z-index: 1999;
	}

	.about-guitar .features-list p {
		margin-left: 5px;
	}

	.about-guitar ol.features-list {
		width: 330px;
	}

	.guarantees .container {
		flex-direction: column;
		align-items: center;
	}

	.guarantees .right-side::before {
		display: none;
	}

	.guarantees ul.features {
		padding-right: 0;
	}


}

@media (max-width: 600px) {

	.header-content h1 {
		width: 80%;
		font-size: 35px;
		line-height: 1.4;
	}

	.header-content .promo {
		font-size: 23px;
	}

	.header-bottom {
		margin-left: 0;
		margin-top: 170px;
	}

	.header-bottom li {
		margin-right: 6px;
	}

	.about-guitar .content  {
		flex-direction: column;
		align-items: center;
	}

	.about-guitar .guitar {
		order: -1;
		padding-top: 70px;
	}

	.about-guitar ol.features-list {
		width: 100%;
	}

	.guitar-specifications {
		order: 2;
	}

	.about-guitar ol.features-list {
		order: 3;
	}

	.about-guitar .features-list p::after {
		margin-left: 0px;
		width: 100%;
	}

	.about-guitar .buy-button {
		margin: 20px auto;

	}

	.order .title {
		font-size: 30px;
		line-height: 1.4;
	}

	.order form {
		margin-top: 20px;
	}
	
	footer .footer-content {
		margin-top: 33px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}

	footer .location {
		margin: 15px 0;
	}

	footer a.logo {
		transform: translateX(-10px);
	}
}

@media (max-width: 450px) {
	.header-content {
		display: flex;
    	flex-direction: column;
	}

	.header-content h1 {
		margin: 30px auto;
	}

	.header-content h1::after {
		margin-top: 5px;
		margin-left: 0px;
	}
	
	.header-content .promo {
		display: inline-block;
		margin: 0 auto;
		margin-top: 15px;
	}

	.header-content__inner {
    	position: static; 

    	display: flex;
    	flex-direction: column-reverse;
    	align-items: center;
	}

	.video-review {
		margin: 20px 0px 0px 0px;
		transform: translateX(-30%);
	}

	.header-bottom {
		margin-top: 10px;
	}

	.about-guitar .price::before {
		width: 50px;
	}

	.guarantees .container {
		padding: 0px;
	}

	ul.guitar-specifications .circle {
		padding-top: 21px;
    	font-size: 30px;
		width: 80px;
  		height: 80px
	}

	ul.guitar-specifications p {
		font-size: 20px;
	}

	section.guarantees {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.order .title {
		padding-top: 35px;
		font-size: 25px;
	}

	.left-side .title {
		font-size: 25px;
	}

	ul.features li, ul.features li:nth-child(even) {
		margin: 15px 0px;
	}

}