body {
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #fff;
	letter-spacing: 0.025em;
	padding: 0;
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

/* ###### HEADER BLOCK ###### */

header {
	background: 
	url("../img/header/small-smoke.png") no-repeat top/cover,
	url("../img/header/smoke.jpg") no-repeat 78% 100%,
	url("../img/header/stars.png") repeat-x top;
	background-color: #000;
	padding-bottom: 22px;
}

.header-container {
	width: 1120px;
	margin: 0 auto;
}

.header-top {
	height: 58px;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
}

.header-top h2 {
	padding-left: 40px;
	font-size: 20px;
	font-weight: 700;
}

.header-top a.logo {
	background: url("../img/header/sprites.png") no-repeat left center;
	background-position: 0px -41px;
}

.header-top .location {
	font-size: 16px;
	margin-left: 210px;
}

.header-top .tell-back {
	display: block;
	margin-left: 180px;
	padding: 4px 0;
	width: 110px;
	border: 1px solid #0b86d4;
	border-radius: 25px;
	text-align: center;
	font-size: 10px;
	transition: 0.3s;
}

.header-top .tell-back:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.header-top .number {
	font-size: 16px;
	margin-left: 24px;
}

.header-content h1 {
	font-size: 50px;
	line-height: 72px;
	width: 563px;
	margin: 0;
	margin-top: 87px;
	font-weight: 400;
}

.header-content h1::after {
	content: "";
	width: 195px;
	height: 3px;
	background-color: #0b86d4;
	display: block;
	margin-top: 32px;
	margin-left: 3px;
}

.header-content .promo {
	font-family: "Bad Script", sans-serif;
	font-size: 30px;
	color: #d8d4d4;
	margin: 0;
	margin-top: 45px;
}

.video-review {
	width: 195px;
	height: 90px;
	position: relative;
	margin-left: 310px;
}

.video-text {
	padding-top: 12px;
	font-size: 14px;
	margin: 0;
	color: #cfcbcb;
}

.video-text::before {
	content: "";
	width: 51px;
	height: 46px;
	display: block;
	margin-left: 70px;
	background: url("../img/header/sprites.png") -213px -15px;
}

.play-video-button {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 25px;
	background: url("../img/header/sprites.png") -294px -15px;
	transition: 0.3s;
	position: absolute;
	top: -10px;
	right: 3px;
}

.play-video-button:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.header-content img {
	position: absolute;
	right: 35%;
	top: 8%;
}

.header-bottom {
	width: 190px;
	margin-top: 135px;
	margin-left: 57px;
}

.header-bottom  li {
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #0b83cf;
	border-radius: 50%;
	transition: 0.3s;
	background-color: #080a0c;
}

.social-links {
	margin: 0;
	padding: 0;
}

.social-links a {
	display: block;
	width: 34px;
	height: 34px;
}

.social-links li:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.header-bottom .vk {
    background-image: url("../img/header/sprites.png");
    background-position: -96px -3px;
}

.header-bottom .yt {
	background-image: url("../img/header/sprites.png");
	background-position: -47px -7px;
}

.header-bottom .fb {
	background-image: url("../img/header/sprites.png");
	background-position: -3px -7px;
}


/* ###### ABOUT-GUITAR SECTION###### */

section.about-guitar {
	background-color: #f7f7f7;
	color: #2b2a2a;
}

.about-guitar .container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: url("../img/about-guitar/about-bg.jpg") 100%/auto;
	padding: 65px 30px 51px 30px;
	box-sizing: border-box;
}

.about-guitar .content {
	display: flex;
	align-items: flex-start;
	position: relative;
}

.about-guitar .about-title {
	width: 553px;
	font-weight: bold;
}

.about-guitar .about-title h2 {
	font-size: 36px;
	margin: 0;
	margin-left: 3px;
}

.about-guitar .price {
	font-size: 30px;
	margin: 0;
	margin-top: 20px;
}

.about-guitar .price::before {
	display: inline-block;
	content: "";
	width: 111px;
	height: 2px;
	background-color: #47a3dd;
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 20px;
}

.about-guitar ol.features-list {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 58px;
	width: 410px;
	list-style-type: none; 
    counter-reset: num;
}

.about-guitar .features-list  li {
	margin: 0;
	padding-bottom: 6px;
}

.about-guitar li.feature-item::before {
    content: "0" counter(num); 
    counter-increment: num;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.about-guitar .features-list h3 {
	margin: 0;
	margin-left: 3px;
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
}

.features-list li:first-child h3:first-child {
	margin-left: 10px;
}

.about-guitar .features-list p {
	margin: 10px 0 0 55px;
	font-size: 14px;
	line-height: 23px;
	font-family: 'Jura Light', sans-serif;
}

.about-guitar .features-list p::after {
	content: "";
	display: block;
	width: 339px;
	height: 1px;
	background-color: #979797;
	margin-top: 17px;
	margin-left: -46px;
}



.about-guitar .buy-button {
	display: block;
	position: absolute;
	bottom: 73px;
	padding: 15px 0;
	width: 250px;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff5f7;
	background-color: #ff3d6f;
	text-align: center;
	border-radius: 30px;
	transition: 0.3s;
}

.about-guitar .buy-button:hover {
	background-color: #fe698f;
}

.about-guitar .guitar {
	width: 240px;
	height: 660px;
	background: url("../img/about-guitar/pink-effect.png") no-repeat;
	background-position: center 70%;
	background-size: contain;
	margin-left: 52px;
	margin-right: 60px;
	margin-top: -55px;
}

.about-guitar ul.guitar-specifications {
	width: 240px;
	padding: 0;
	margin: 0;
}

ul.guitar-specifications li {
	list-style-type: none;
	margin: 0;
	width: 240px;
	text-align: center;
}

ul.guitar-specifications .circle {
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 98px;
	height: 98px;
	border: 1px solid #1b8ed7;
	border-radius: 50%;
	text-align: center;
	padding-top: 25px;
	font-size: 36px;
	font-weight: bold;
}

ul.guitar-specifications p {
	margin: 0;
	margin-top: 8px;
	font-size: 24px;
	font-family: 'Jura Medium', sans-serif;
	text-align: center;
	width: 240px;

}

ul.guitar-specifications p::after {
	display: block;
	margin: 21px auto 39px auto;
	content: "";
	width: 60px;
	height: 1px;
	background-color: #9d9c9c;

}


/* ###### GUARANTEES SECTION ###### */

section.guarantees {
	padding: 155px 0 155px 0;
	background: linear-gradient(to bottom, #fbfbfb, #fff);
}

.guarantees .container {
	width: 1160px;
	margin: 0 auto;
	display: flex;
}

.guarantees .left-side {
	width: 665px;
	background-image: url("../img/guarantees/blue-smoke.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -80px 80%;

}

.guarantees .right-side {
	width: 495px;
	position: relative;
}

.guarantees .right-side::before {
	content: "";
	display: inline-block;
	height: 399px;
	width: 1px;
	background-color: #939191;
	position: absolute;
	bottom: 15px;
}

.left-side .title {
	color: #000;
	font-size: 36px;
	font-weight: bold; 
	margin: 0 0 0 8px;
	line-height: 72px;
}


.left-side .title::after {
	content: "";
	display: block;
	width: 111px;
	height: 2px;
	background-color: #47a3dd;
}

span.blue {
	color: #0b86d4;
}

.guarantees ul.features {
	margin: 116px 0 0 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

ul.features li {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	margin-right: 55px;
	margin-bottom: 98px;
	padding-left: 109px;
	width: 275px;
	height: 100px;
	background: url("../img/guarantees/css_sprites.png") no-repeat;
	background-color: #000;
	border-radius: 10px;
	font-size: 20px;
	line-height: 31px;
	font-weight: bold;
}

ul.features li:nth-child(even) {
	margin-right: 0;
}

ul.features .delivery {
	background-position: -20px -280px;
}

ul.features .document {
	background-position: -10px -417px;
}
ul.features .pay {
	background-position: -15px -10px;
}
ul.features .service {
	background-position: -20px -144px;
}

.right-side .feedback-list {
	height: 100%;
	text-align: center;
	background: url("../img/guarantees/disc.png") no-repeat;
	background-position: center 15%;
	padding-top: 45%;
	box-sizing: border-box;
}

.all-feedback-list {
	text-align: left;
	bottom: 0;
	width: 300px;
	height: 120px;
	margin-top: 60px;
}

.all-feedback-list p {
	margin: 0;
	margin-left: 25px;
	color: #000000;
	font-size: 20px;
	font-family: "Bad Script Regular";
}

.all-feedback-list p::before {
	content: "";
	display: block;
	background: url("../img/guarantees/css_sprites.png") no-repeat;
	background-position: -46px -632px;
	width: 48px;
	height: 47px;
	margin-left: 187px;
	margin-bottom: -25px;
}

.all-feedback-list a {
	display: block;
	width: 42px;
	height: 42px;
	border: 1px solid #f1ab61;
	border-radius: 50%;
	background: url("../img/guarantees/css_sprites.png");
	background-position: -37px -540px;
	margin-right: 0;
	margin-left: auto;
	transition: 0.3s;
}

.all-feedback-list a:hover {
	background-color: #f4dbc0;
	border: 1px solid #a3917d;
}

/* ###### OREDER SECTION ###### */

section.order {
	background: url("../img/order/smoke.png") 100%/cover no-repeat;
	background-color: #181818;           
}

section.order .container {
	width: 1140px;
	margin: 0 auto;
}

.order .title {
	display: inline-block;
	margin: 0;
	width: 593px;
	padding-top: 103px;
	font-size: 36px;
	font-weight: bold;
	line-height: 63px;
}

.order .title::after {
	content: "";
	display: block;
	margin-top: 32px;
	width: 190px;
	height: 2px;
	background-color: #47a3dd;
}

.order img {
	position: relative;
	top: -64px;
	right: 32px;
	float: right;

}

.order form {
	display: flex;
	margin-top: 125px;
	align-items: flex-start;
}

.order input,
.order button {
	width: 296px;
	height: 56px;
	padding: 24px;
	margin: 0;
	border: 1px solid #0b86d4;
	border-radius: 25px;
	background-color: #252525;
	color: #cbcbcb;
	font-size: 20px;
	font-family: "Jura Light", sans-serif;
	box-sizing: border-box;
}

.order .phone-block,
.order .email-block {
	margin-right: 35px;
}

.order button {
	align-self: flex-end;
	padding: 0px 82px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	font-family: "Jura Medium", sans-serif;
	text-transform: uppercase;
	transition: 0.3s;
}

.order button:hover {
	background-color: rgba(16, 195, 233, 0.4);
}

.order label {
	display: block;
	font-size: 20px;
	padding-left: 26px;
	margin-bottom: 19px;
	position: relative;
}

.order label::after {
	display: block;
	content: "";
	width: 114px;
	height: 108px;
	background: url("../img/order/star.png");
	position: absolute;
	left: -60px;
	top: -40px;
}

/* ###### FOOTER ###### */

footer {
	width: 1140px;
	margin: 0 auto;
	margin-top: 99px;
	padding-bottom: 69px;

}

footer::before {
	content: "";
	display: block;
	margin-left: 9px;
	width: 1080px;
	height: 1px;
	background-color: #fff;
	box-shadow: 0px 0px 16px 1px #00d8ff;
}

footer .footer-content {
	margin-top: 65px;
	padding-left: 6px;
	padding-right: 69px;
	display: flex;
	align-items: center;
}

footer a.logo {
	padding-left: 44px;
	height: 30px;
	background: url("../img/header/sprites.png") no-repeat left center;
	background-position: 0px -55px;
	box-sizing: border-box;
}

footer .site-name {
	margin: 0;
	font-size: 20px;
}

footer .location {
	font-size: 16px;
	margin: 0;
	margin-left: 450px;
}

footer .number {
	font-size: 16px;
	margin-left: 130px;
}